.comment-container-outer{
    /* border: 3px solid red; */
} 

.comment-reflection-container{
    /* border: 3px solid red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(50px);
    border-radius: 15px;
}

.comment-reflection-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(247, 243, 206, .75);
    margin-top: 20px;
}

.comment-reflection{
    color: rgba(247, 243, 206, .75);
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px;
}

.comment-container-inner{
    height: 100vh;
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.comment-title{
    /* border: 3px solid green; */
    font-weight: bold;
    font-size: 64px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(247, 243, 206, .75);
}

