.signup-form-container-outer{
    /* border: 3px solid red; */
    height: 80vh;
}

.signup-form-container-mid{
    /* border: 3px solid green; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.signup-form-container-inner{
    /* border: 3px solid blue; */
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-form{
    border: 1px solid rgba(17, 119, 187, .5);
    box-shadow: 0 0 5px 1px #1177bb;
    background-color: rgba(247, 243, 206, .35);
    border-radius: 35px;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signup-form-title{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-form-errors{
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #DC417A;
}

.signup-form-fields-container{
    /* border: 3px solid orange; */
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-form-fields{
    /* border:3px solid orangered; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup-form-label-containers{
    /* border:3px solid blue; */
}

.signup-form-inputs-containers{
    /* border: 3px solid green; */
}

/* WAITING TO PICK COLOR SCHEME */
/* .input-field{
} */