.reflect-container-outer{
    /* border: 3px solid red; */
}

.reflect-rating-container-outer{
    /* border: 3px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.reflect-rating-container{
    backdrop-filter: blur(50px);
    /* background-color: rgba(247, 243, 206, .35); */
    border-radius: 25px;
    color: rgba(247, 243, 206, .75);
    /* border: 3px solid orange; */
    width: 30%;
    /* justify-self: center; */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.reflection-title-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    backdrop-filter: blur(50px);
    margin-top: 20px;
}

#reflection-title{
    font-size: 24px;
    color: #1177BB;
}


.reflections-container{
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reflection-containers{
    border: 1px solid rgba(17, 119, 187, .2);
    box-shadow: 0px 0px 20px 1px rgba(17, 119, 187, .2);
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    background-color: rgba(247, 243, 206, .5);
    border-radius: 25px;

}

.reflection-username{
    font-size: 24px;
    
}

.reflection-links{
    /* border: 3px solid red; */
    color: #0C5383;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 25px;
}

.reflect-link{
    border: 1px solid rgba(17, 119, 187, .15);
    text-decoration: none;
    border-radius: 25px;
    background-color: whitesmoke;
}